.user-result {
  display: flex;
  align-items: center;
  height: 34px;
  font-size: 12px;
  color: #656565;
}

.user-result:hover {
  background: lightgray;
}

.user-result:active {
  background: var(--secondary-color);
}

.send-avatar-icon {
  vertical-align: middle;
  width: 1.7rem;
  border-radius: 50%;
  height: 1.7rem;
  border: 2px solid #fff;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.suggestion-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
}

.suggestion-distance {
  float: right;
  color: #656565;
  font-weight: 600;
}