:root {
  --primary-color-red: #eb4d4b;
  --secondary-color: #f1c40f;
  --accent-light: #fff;
  --accent-dark: #707070;
  --label-main: rgb(66, 66, 66);
  --label-sub: rgb(115 115 115);
}

/* CREATE ACCOUNT SECTION */
.join {
  height: 100vh;
}

.join__wrapper {
  height: 100vh;
}

.join__split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join__signup {
  height: 100vh;
  background: var(--primary-color-red);
  width: 40%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.join__signup img {
  width: 3rem;
}

.join__signup-copy-wrapper {
  padding: 4rem;
  max-width: 500px;
  margin: 0 auto;
}

.join__signup-copy-wrapper h1 {
  text-align: center;
  margin: 2rem 1rem;
  padding-top: 7vh;
  color: var(--secondary-color);
  font-family: source sans pro;
  font-size: clamp(2rem, 2.5vw, 6rem);
}

.join__signup-copy-wrapper p {
  margin-bottom: 4rem;
  text-align: center;
  color: var(--accent-light);
  font-family: source sans pro;
  font-size: clamp(1rem, 1vw, 1.5rem);
}

.join__signup-copy-wrapper .join__signin-btn {
  display: block;
  width: 12.5rem;
  text-align: center;
  margin: 0 auto;
  padding: 0.8rem;
  border-radius: 30px;
  border: 1px solid var(--accent-light);
  background-color: var(--primary-color-red);
  color: var(--accent-light);
  font-family: source sans pro;
}

.join__create-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.join__create-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.join__create-wrapper h1 {
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-family: source sans pro;
  font-weight: 600;
  font-size: clamp(2rem, 2.5vw, 6rem);
  color: #636363;
}

.join__create-wrapper img {
  width: 2rem;
}

.join__create-wrapper p {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  color: #636363;
}

.join__google-btn span {
  font-size: 0.7rem;
  padding-right: 1.1rem;
}

.google-icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 11.563rem;
  border: 1px solid #eaeaea;
  padding: 0.5rem;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.join__signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
}

.join__input-item {
  padding-bottom: 1rem !important;
}

.join__link {
  text-align: center;
}

.join__disable-btn {
  padding: 1rem;
  border-radius: 30px;
  border: none !important;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.3rem;
  width: 200px;
  background: #d8d8d8;
  color: var(--accent-dark);
}

.join__submit-btn {
  padding: 1rem;
  border-radius: 30px;
  border: none !important;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.3rem;
  width: 200px;
  background: var(--primary-color-red);
  color: var(--accent-light);
}

@media (max-width: 968px) {
  .join__split {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .join__signup {
    width: 100%;
  }
}
/*# sourceMappingURL=signup_one.css.map */