@import 'react-notifications-component/dist/theme.css';
@import "react-datepicker/dist/react-datepicker.css";

:root {
  --primary-color-red: #eb4d4b;
	--secondary-color-red: rgb(170, 17, 17);
  --secondary-color: #f1c40f;
  --accent-light: #fff;
  --accent-dark: #707070;
  --label-main: rgb(66, 66, 66);
  --label-sub: rgb(115 115 115);
	--ff-primary: "source sans pro"
}

/* ADDITIONAL DETAILS SECTION */
.signup-two {
	height: 100vh;
}
.signup-two-wrapper {
	height: 100vh;
}
.page-split {
	display: flex;
	height: 100vh;
}

.additional-details-section {
	width: 70%;
	height: 100%;
	.additional-details-wrapper {
		width: 79%;
		margin: 0 auto;
		margin-top: 7%;
		max-width: 37.5rem;
 }
 .additional-details-title {
		margin-bottom: 3rem;
		color: var(--label-main);
	}
}

.addditional-details-form {
	display: flex;
	flex-direction: column;
	margin-top: 6rem;
}

.gender-radio-selectors {
	fill: var(--primary-color-red);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5rem;
	label {
		color: var(--label-sub);
		margin-right: 1rem;
	}
	.label-right {
		margin-right: 0.6rem;
	}
}

.details-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5rem;
	label {
		color: var(--label-sub);
    flex-basis: 40%;
		width: 100%
	}

	.location-input {
		width: 100%;
	}
}

/* COPY SECTION */
.signup-two-copy-section {
	background: var(--secondary-color);
	position: relative;
	width: 30%;
	height: 100vh;
	.signup-two-copy-wrapper {
		margin-top: 5rem;
		padding-inline: 3rem;
		.copy-icon {
			width: 7rem;
			margin: 0 auto;
			display: block;
			text-align: center;
			margin-bottom: 5rem;
		}
		.copy-title {
			color: var(--accent-light);
			text-align: center;
			margin-bottom: 1.5rem;
			font-size: clamp(2rem, 1.4vw, 3rem);
		}
		.copy-desc {
			color: var(--accent-light);
			text-align: center;
			font-size: clamp(1rem, 1vw, 1.5rem);
		}
	}
	
}

.finish-btn {
	padding: 0.7rem 3rem;
	background-color: var(--primary-color-red);
	color: var(--accent-light);
	border: none;
	border-radius: 1.563rem;
	cursor: pointer;
	float: right;
  margin-top: 1.5rem;
}

.date-picker {
		width: 100%;
    padding: 1rem;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.react-datepicker-wrapper {
    width: 69%;
    flex-basis: 69%;
}

.date-picker .react-datepicker-ignore-onclickoutside {
	display: inline
}

.MuiFormControl-root {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
    width: 100%;
}


@media (max-width: 780px) {

	.additional-details-section {
		width: 100%;
	}

	.signup-two-copy-section {
    width: 100%;
		padding-bottom: 4rem;
	}

	.page-split {
		display: flex;
		flex-direction: column;
	}
}