:root {
  --primary-color-red: #eb4d4b;
  --secondary-color: #f1c40f;
  --accent-light: #fff;
  --accent-dark: #707070;
  --label-main: rgb(66, 66, 66);
  --label-sub: rgb(115 115 115);
}

.dashboard-nav {
  background-color: var(--primary-color-red);
}

.dashboard-nav__wrapper {
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
  padding: 1.4rem;
}

.dashboard-nav__wrapper .logo {
  width: 2rem;
}

.dashboard-nav__notification-icon {
  margin-left: 6rem;
}

.dashboard-nav__icon {
  width: 1rem;
}

.dashboard-nav__main-nav {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-bottom: 0;
}

.dashboard-nav__main-nav .avatar {
  width: 2.5rem;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 0.6rem;
  height: 2.5rem;
}
.dashboard-nav__main-nav .username {
  color: var(--accent-light);
  font-size: 0.9rem;
}

.dash-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  padding-top: 2rem;
}

.dash-area .input-item {
  margin-top: 5rem;
  max-width: 900px;
}

#search {
  margin: 30px 0;
}

.pure-material-textfield-outlined {
  color: var(--primary-color-red);
}

.notify {
  display: flex;
  margin-right: 1px;
}

.notification-count {
  padding: 0.2rem;
  width: 17px;
  height: 17px;
  background: #0d6efd;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  position: relative;
  right: 7px;
  bottom: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-avatar {
  vertical-align: middle;
  width: 2.5rem;
  border-radius: 50%;
  height: 2.5rem;
  border: 2px solid #fff;
}

.send-avatar-icon {
  vertical-align: middle;
  width: 1.7rem;
  border-radius: 50%;
  height: 1.7rem;
  border: 2px solid #fff;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

#send-btn {
  width: 1rem;
}

#send-btn:active {
  width: 0.91rem;
}

#sender-suggestion {
  border-radius: 50px;
  height: 47px;
  border: 2px solid #eb4d4b;
  color: #585757;
  font-size: 1rem;
  width: 100%;
  padding-left: 1.2rem;
}

.send-list-render {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: 1rem;
  margin-top: 0.6rem;
}

.send-user:nth-child(2) {
  position: relative;
  right: 9px;
}

.send-user:nth-child(3) {
  position: relative;
  right: 16px;
}

.send-user:nth-child(4) {
  position: relative;
  right: 23px;
}

.send-user:nth-child(5) {
  position: relative;
  right: 30px;
}

.send-user:nth-child(6) {
  position: relative;
  right: 37px;
}

.send-user:nth-child(7) {
  position: relative;
  right: 44px;
}

.send-list-count {
  font-size: 0.8rem;
  margin-right: 0.6rem;
  margin-left: 1.4rem;
}

.contact-suggestion-list {
  z-index: 84;
  position: relative;
  /* top: 32%; */
  /* bottom: calc(65% ); */
  background: #fff;
  /* width: 100%; */
  /* box-shadow: 13px 14px 8px -10px rgb(0 0 0 / 34%); */
  /* border: 1px solid #dcdcdc; */
  /* border-radius: 5px; */
  /* border: 1px solid #999; */
  /* border-top-width: 0; */
  /* list-style: none; */
  /* margin-top: 8px; */
  max-height: 143px;
  /* overflow-y: auto; */
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.user-result {
  height: 34px;
  font-size: 12px;
  color: #656565;
}

#suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 7px;
  background: #fff;
  width: 95%;
  box-shadow: 13px 14px 8px -10px rgb(0 0 0 / 34%);
  border: 1px solid #dcdcdc;
  border-radius: 5px;
}

.user-result {
  display: flex;
  align-items: center;
}
.suggestion-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
}

.suggestion-distance {
  float: right;
  color: #656565;
  font-weight: 600;
}

.user-result:hover {
  background: lightgray;
}

.user-result:active {
  background: var(--secondary-color);
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.pagination .page-link {
  color: var(--primary-color-red);
}
.pagination .page-link:hover {
  color: #fff;
  background: var(--secondary-color);
  border: 1px var(--secondary-color);
}
