:root {
  --primary-color-red: #eb4d4b;
  --secondary-color: #f1c40f;
  --accent-light: #fff;
  --accent-dark: #707070;
  --label-main: rgb(66, 66, 66);
  --label-sub: rgb(115 115 115);
}

.dashboard-nav {
  background-color: var(--primary-color-red);
}

.dashboard-nav__wrapper {
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
  padding: 0.7rem;
}

.dashboard-nav__wrapper .logo {
  width: 2rem;
}

.dashboard-nav__notification-icon {
  margin-left: 6rem;
}

.dashboard-nav__icon {
  width: 0.7rem;
}

.dashboard-nav__main-nav {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.dashboard-nav__main-nav .avatar {
  width: 2rem;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 0.6rem;
}

.dashboard-nav__main-nav .username {
  color: var(--accent-light);
  font-size: 0.9rem;
}

.dash-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dash-area .input-item {
  margin-top: 5rem;
  max-width: 900px;
}
