:root {
  --primary-color-red: #eb4d4b;
	--secondary-color-red: rgb(170, 17, 17);
  --secondary-color: #f1c40f;
  --accent-light: #fff;
  --accent-dark: #707070;
  --label-main: rgb(66, 66, 66);
  --label-sub: rgb(115 115 115);
	--ff-primary: "source sans pro"
}


/* CREATE ACCOUNT SECTION */
.signup {
	height: 100vh;
}

.signup-wrapper {
	height: 100vh;
}

.two-split {
	display: flex;
	align-items: center;
}
.login-section {
	height: 100vh;
	background: var(--primary-color-red);
	width: 40%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	img {
		width: 3rem;
	}
}
.login-copy-wrapper {
	padding: 4rem;
	max-width: 500px;
	margin: 0 auto;
	.login-section-title {
		text-align: center;
		margin: 2rem 1rem;
		padding-top: 7vh;
		color: var(--secondary-color);
		font-family: var(--ff-primary);
		font-size: clamp(2rem, 2.5vw, 6rem);
	}
	.login-section-desc {
		margin-bottom: 4rem;
		text-align: center;
		color: var(--accent-light);
		font-family: var(--ff-primary);
		font-size: clamp(1rem, 1vw, 1.5rem);
	}
	.send-to-login-btn {
		display: block;
		width: 12.5rem;
		text-align: center;
		margin: 0 auto;
		padding: 0.8rem;
		border-radius: 30px;
		border: 1px solid var(--accent-light);
		background-color: var(--primary-color-red);
		color: var(--accent-light);
		font-family: var(--ff-primary);
	}
}
.register-section {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.register-wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	.register-title {
		margin-bottom: 2rem;
		margin-top: 2rem;
		font-family: var(--ff-primary);
		font-weight: 600;
		font-size: clamp(2rem, 2.5vw, 6rem);
		color: #636363;
	}
}

.signup-form {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
	list-style: none;
  text-decoration: none;
	.input-item {
		padding-bottom: 1rem !important;
	}
	.submit-btn {
		display: flex;
		justify-content: center;
		padding: 1rem;
		border-radius: 30px;
		border: none !important;
		text-align: center;
		margin: 0 auto;
		margin-top: 1.3rem;
		width: 200px;
		background: var(--primary-color-red);
		color: var(--accent-light);
		&:hover {
			background: var(--secondary-color-red);
		}
	}
	.disable-btn {
		padding: 1rem;
		border-radius: 30px;
		border: none !important;
		text-align: center;
		margin: 0 auto;
		margin-top: 1.3rem;
		width: 200px;
		background: #d8d8d8;
		color: var(--accent-dark);
	}
}



@media (max-width: 968px) {
	.two-split {
		flex-direction: column;
	}
	.login-section {
		width: 100%;
	}
}
